{% extends "template.html "%}

{% block content %}
<h1 class="mt-4">Asset Management Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

 <div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Market Value: Multifamily</div>

            <h1 style="margin-left: 3%;">{{curr_val_mf}} <font>Past 45 days</font> <i class="fas fa-arrow-right" style="margin-left: 3%; color:orange; transform:rotate(-35deg);"></i></h1>

            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                Market Value: Commercial
            </div>
            <h1 style="margin-left: 3%;">{{curr_val_comm}} <font>Past 45 days</font> <i class="fas fa-arrow-right" style="margin-left: 3%; color:green; transform:rotate(-90deg);"></i></h1>

            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Capital Inflow</div>
            <h1 style="margin-left: 3%;"> $45,000,000 <font>Past 45 days</font> <i class="fas fa-arrow-right" style="margin-left: 3%; color:green; transform:rotate(-90deg);"></i></h1>

            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Danger Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="max-width:100%; white-space:nowrap;">
                <thead>
                    <tr>
                        {% for col in headers %}
                            <th>{{col}}</th>
                        {% endfor %}

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% for col in headers %}
                            <th>{{col}}</th>
                        {% endfor %}

                    </tr>
                </tfoot>
                <tbody>
                    {% for row in df_mf%}
                        <tr>
                            {% for col in row %}
                                <td>{{col}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}