{% extends "template.html" %}

{% block content %}

<H3>View Property T-12</H3>

<form method=post>
   {{form.hidden_tag()}}
   <dl>
      <dt>Property Code:
      <dd>{{ form.property_code(cols="85", rows="1") }}
      <dt>Book Code:
      <dd>{{ form.book_code(cols="85", rows="1") }}
       <dt>Account Tree:
      <dd>{{ form.account_tree(cols="85", rows="17") }}
      <dt>Period Start:
      <dd>{{ form.period_start(cols="85", rows="17") }}
       <dt>Period End:
      <dd>{{ form.period_end(cols="85", rows="17") }}
   </dl>
    {{ form.submit(class="btn btn-primary") }}
</form>

{% if not prop_data.empty %}
    {{ prop_data.to_html() | safe }}
{% endif %}

{% endblock %}